@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.none {
    display: none !important;
}

.block {
    display: block;
}

.wrapper {
    display: flex;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 30px;
    z-index: 4;
    animation: fadeIn 0.3s ease;
    animation-fill-mode: backwards;

    &.active {
        opacity: 1;
        visibility: unset;
    }
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contains {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    padding: 30px;
    background-color: #252525;
    position: relative;
}

.x-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    backdrop-filter: blur(5px);
    background-color: hsla(0, 0%, 100%, 0.1);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
    right: -19px;
    top: -21px;
    cursor: pointer;
}

.header {
    font-size: 33px;
    margin-bottom: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--main-color);
    border-bottom: 3px solid hsla(0, 0%, 100%, 0.1);
    position: relative;

    &::after {
        background-color: var(--main-color);
        bottom: -3px;
        content: '';
        height: 3px;
        left: 0;
        position: absolute;
        width: 50%;
    }
}

.slide {
    position: relative;
}

.btn {
    position: absolute;
    font-size: 44px;
    top: 41%;
    cursor: pointer;
}

.disable {
    cursor: none;
}

.next-btn {
    right: 0;
}
.prev-btn {
}

.project-slide {
    width: 49%;
    overflow: hidden;
}

.slide-contains {
    display: flex;
    overflow: hidden;
}

.slide-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

// sub img
.sub-slide {
    display: flex;
    overflow: hidden;
}

.sub-img {
    width: 100%;
    margin: 10px 10px 10px 0;
    cursor: pointer;
    object-fit: cover;
}

// detail
.project-details {
    width: 49%;
}
.desc {
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.sub-desc {
    margin-bottom: 10px;
    font-size: 15px;
    color: #fff;
}

.desc-data {
    font-weight: 600;
}

.demo {
    color: var(--main-color);
}
