.color-block {
    position: fixed;
    width: 100%;
    height: 200%;
    background-color: var(--main-color);
    top: -50%;
    left: -83%;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    z-index: -9999;
}
