.wrapper {
    position: fixed;
    right: 1rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9999;
}

.link {
    display: flex;
    margin: 20px 0;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    transition: all 0.25s linear;
}

.title {
    display: flex;
    // justify-content: flex-end;
    position: absolute;
    height: 100%;
    width: 110px;
    right: 28px;
    overflow: hidden;
    z-index: -1;
    transition: all 0.25s ease;
    color: var(--nav-title-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}

.component {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 50px;
    padding: 0px 24px;
    right: -82px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    z-index: 0;
    transition: all 0.25s ease;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 16px;
    transition: all 0.25s ease;
    overflow: hidden;
    background-color: var(--nav-bg-color);
    color: var(--nav-icon-color);
}

.active {
    .icon {
        background-color: var(--main-color);
        color: #fff;
    }
}

.hover {
    &:hover {
        .component {
            right: 0;
            background-color: var(--main-color);
        }

        .icon {
            background-color: var(--main-color);
            color: #fff;
        }
    }
}
