@import '../../../GlobalStyles/GlobalStyles.scss';

.wrapper {
    display: flex;
    padding-bottom: 20px;
    width: 50%;
    flex-wrap: wrap;

    @include m-mobile {
        width: 100%;
    }
}

.info {
    font-size: 15px;
    opacity: 0.8;
}

.info_desc {
    padding-left: 6px;
}
