.wrapper {
    padding-right: 15px;
}

.header {
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.desc {
    font-size: 15px;
    margin-bottom: 24px;
}

.link {
    display: flex;
}
